.vscode/**
.vscode-test/**
.vscode-test-web/**
.github/**
assets/icon.svg
assets/screensho*.*
src/**
test/**
config/**
build-scripts/**
node_modules/**
.gitignore
**/tsconfig.json
**/*.map
**/*.ts
*.vsix
